.navbar * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	/* border: 1px solid red; */
}
body {
	font-family: "Open Sans", sans-serif;
}
.navsection a {
	text-decoration: none;
	color: black;
	/* color: #2b2a2a; */
}
.navsection ul,
.navsection li {
	list-style: none;
}
.navsection {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	/* border: 1px solid black; */
	/* overflow: hidden; */
}
.navbar {
	width: 100%;
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-around;
	/* border-top: 1px solid blue; */
	height: 55px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	transition: border 0.2s ease-in-out;
	position: relative;
}

.navbar .hamburger {
	display: none;
}
.navbar .brand-name {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: 3rem; */
}
.navbar .brand-name > a {
	font-size: 2rem;
	display: flex;
	height: 90%;
	color: #3d3d3d;
	justify-content: center;
	align-items: center; /* width: 100%; */
	/* border: 1px solid red; */
}
/* disable search and right icons */
/* same margin like barnd name */
/* .navbar .right-icons {
	position: absolute;
	
	right: 3rem;
	height: 100%;
	width: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid red;
}
.navbar .right-icons .searchIcon,
.darkmode {
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
	transition: transform 0.2s ease-in-out;
	border: 1px solid red;
} */
/* .navbar .right-icons .searchIcon > img {
	width: 24px;
	border: 1px solid red;
} */
/* .navbar .right-icons .searchIcon:hover {
	transform: scale(1.2);
} */
/* .navbar .right-icons .darkmode:hover {
	transform: scale(1.2);
} */
/* .navbar .right-icons .darkmode {
	background-color: white;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
} */
/* .navbar .searchsection {
	z-index: 11;
	background-color: #ffffff;
	position: absolute;
	height: 100%;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	opacity: 0;
	border: 1px solid red;
}
.navbar.searchActive .searchsection {
	display: flex;
	animation: forsearch 0.2s ease-in-out forwards;
} */
/* @keyframes forsearch {
	100% {
		opacity: 1;
	}
} */
/* .navbar .searchsection input {
	font-size: 1.2rem;
	user-select: none;
	margin-left: 2%;
	margin-right: 2%;
	outline: none;
	height: 70%;
	width: 70%;
	border: none;
	border-radius: 4px;
	padding-left: 1.5rem;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	
} */
/* .navbar .searchsection .searchsection-icon {
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.85rem;
	width: 1.85rem;
	font-size: 1rem;
	color: #5a5a5a;
	border-radius: 50%;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

} */
/* navlinks */

.close {
	display: none;
}
.navbar .navlins .navLinkHeader {
	display: none;
}
.navbar .navlins .navul {
	width: 35vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	position: relative;
	/* border: 1px solid black; */
}
.navbar .navlins .navul .navli {
	position: relative;
	transition: all 0.2s ease-in-out;
	/* border: 1px solid black; */
	/* border: 1px solid red; */
	padding: 0 0.8rem 0 0.8rem;
	display: flex;
	align-items: center;
	transition: all 0.2s ease-in-out;
}
.navbar .navlins .navul .navli .navicon {
	border-bottom: 2px solid transparent;
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.navbar .navlins .navul .navli .navicon .iconli {
	display: flex;
	/* border: 1px solid blue; */
	width: 100%;
	height: 100%;

	align-items: center;
}
.navbar .navlins .navul .navli .navicon .iconli > a {
	/* border: 1px solid red; */
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar .navlins .navul .navli .navicon .iconli .dropIcon {
	display: flex;
	margin-left: 3px;
	/* border: 1px solid red; */
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	background-image: url("images/chevron-down.svg");
	background-repeat: no-repeat;
	background-size: contain;
	transition: transform 0.2s ease-in-out;
}
.navbar .navlins .navul .navli .deepul {
	position: absolute;
	top: 102%;
	left: 0;
	width: 100%;
	width: 10rem;
	transition: opacity 0.3s ease-in-out;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: #64646f33 0px 7px 29px 0px;
	box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
	/* border: 1px solid black; */
	display: none;
}
.navbar .navlins .navul .navli .deepul .deepli {
	border-bottom: 1px solid #d1d9d9;
}
.navbar .navlins .navul .navli .deepul .deepli:last-child {
	border: none;
}
.navbar .navlins .navul .navli .deepul .deepli > a {
	display: flex;
	text-transform: capitalize;
	width: 100%;
	height: 100%;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
	justify-content: flex-start;
	align-items: center;
	/* border: 1px solid black; */
}
/* animation for deep ul open by opacity */

/* for pc screen */
@media screen and (max-width: 1340px) {
	.navbar .navlins .navul {
		width: 46vmax;
		/* max-width: 48vw; */
	}
}
@media screen and (min-width: 1025px) {
	.navbar .navlins .navul .navli:hover > .navicon {
		border-bottom: 2px solid #5e8b7e;
	}
	.navbar .navlins .navul .navli .deepul .deepli:hover {
		background-color: #edf1f0;
	}
	.navbar .navlins .navul .navli:last-child:hover {
		background-color: #dfeeea;
		color: white;
	}
	.navbar .navlins .navul .navli:hover .navicon + .deepul {
		display: block;
		opacity: 0;
		animation: opacity 0.2s ease-in-out forwards;
	}
	@keyframes opacity {
		100% {
			opacity: 1;
		}
	}

	.navbar .navlins .navul .navli:hover .dropIcon {
		transform: rotate(-180deg);
	}
}

/* for mobile and tablet */
@media screen and (max-width: 1025px) {
	/* body {
		background-color: gray;
	} */

	/* body.openNav,
	body.openNav .navbar {
		box-shadow: none;
		background-color: #303030;
	} */
	.navbar {
		justify-content: center;
		height: 55px;
		position: relative;
	}
	.navbar .hamburger {
		/* z-index: 2; */
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 1%;
		/* margin-left: 0.8rem; */
		top: 50%;
		transform: translateY(-50%);
		width: 48px;
		height: 48px;
		border: 1px solid transparent;
		/* border: 1px solid red; */
		border-radius: 50%;
		cursor: pointer;
		user-select: none;
		transition: all 0.2s ease;
	}
	/* .navbar .right-icons {
		border: 1px solid red;
		width: auto;
		right: 24px;
	} */
	.navbar .hamburger > img {
		object-fit: contain;
		width: 25px;
		height: 25px;
		/* border: 1px solid red; */
	}
	/* .navbar .hamburger:hover {
		border: 1px solid gray;
	} */

	.close {
		display: flex;
		background-image: url("images/clear_black_24dp.svg");
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 11;
		/* border: 1px solid red; */
		width: 2rem;
		height: 2rem;
		cursor: pointer;
	}

	/* .navbar .brand-name {
		border: 1px solid red;
		margin-left: 5rem;
	} */
	.navbar .navlins {
		display: flex;
		flex-direction: column;
		align-items: center;
		/* justify-content: baseline; */
		position: absolute;
		top: 0;
		left: 0;
		width: 35vw;
		height: 100vh;
		overflow-y: auto;
		/* border: 1px solid red; */
		padding: 0;
		margin: 0;
		background-color: white;
		border-radius: 0 10px 10px 0;
		box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
			0 2px 6px 2px rgb(60 64 67 / 15%);
		transform: translateX(-105%);
		transition: transform 0.2s ease-out;
	}
	.navbar .navlins.open {
		transform: translateX(0%);
	}
	.navbar .navlins .navLinkHeader {
		margin-top: 0.1rem;
		display: flex;
		width: 90%;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: 3.5rem;
		/* border-radius: 0 10px 10px 0; */
		/* border: 1px solid red; */
	}
	.navbar .navlins .navLinkHeader > a {
		display: flex;
		align-items: center;
		padding: 0 1rem 0 1rem;
		color: rgb(54, 54, 54);
		font-size: 1.8rem;
		/* border: 1px solid red; */
	}

	.navbar .navlins .navul {
		margin-top: 3rem;
		flex-direction: column;
		height: auto;
		overflow-x: hidden;
		overflow-y: auto;
		width: 90%;
		/* border: 1px solid black; */
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;
	}
	.navbar .navlins .navul .navli {
		/* border: 1px solid red; */
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		justify-content: flex-start;
	}
	/* for morelink style */
	.navbar .navlins .navul .navli > a:last-child {
		/* border: 1px solid red; */
		padding: 0.5rem;
	}
	/* drop icon style */
	.navbar .navlins .navul .navli .navicon {
		/* width: 90%; */
		justify-content: flex-start;
		padding: 0.5rem;
		user-select: none;
		/* border: 1px solid red; */
	}
	/* for preveious last item */
	/* drop icon style */
	.navbar .navlins .navul .navli .dropIcon {
		/* border: 1px solid #727272; */
		margin-left: 0.5rem;
		background-color: white;
		transition: border 0.2s ease-in-out;
		border-radius: 50%;
	}
	/* rotate by java-script */
	/* drop icon rotate */
	.navbar .navlins .navul .navli .dropIcon.rotate {
		transform: rotate(-180deg);
	}
	.navbar .navlins .navul .navli .deepul {
		display: none;
		position: static;
		margin-left: 0.6rem;
		width: 100%;
		height: auto;
		/* height: 8rem; */
		transition: all 0.3s ease-in-out;
		border: none;
		border-left: 1px solid #0f0f0f;
		padding: 0 1.5rem 0 1rem;
		border-radius: 0px;
		background-color: white;
		box-shadow: none;
	}
	/* open deepul by java-script */
	.navbar .navlins .navul .navli .deepul.opendeepul {
		display: block;
	}

	.navbar .navlins .navul .navli .deepul .deepli {
		border-bottom: none;
	}
	/* .navbar .navlins .navul .navli .deepul .deepli > a {
		text-decoration: underline darkcyan;
	} */
}
@media screen and (max-width: 850px) {
	.navbar .navlins {
		width: 40vw;
	}
}
@media screen and (max-width: 769px) {
	.navbar .navlins {
		width: 45vw;
	}
}

@media screen and (max-width: 545px) {
	.navbar .navlins {
		width: 65vw;
	}
}
@media screen and (max-width: 415px) {
	.navbar .navlins {
		width: 80vw;
	}
}
