* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(116, 131, 146);
  display: flex;
  /* width: 100vw;
  height: 100vh; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  /* overflow-x: hidden;
  width: 100vw; */
}

.topBar {
  padding: 5px;
  width: 100vw;
  height: 50px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightgray;
}
.question,
.reference {
  display: flex;
  align-items: center;
  width: 400px;
  /* border: 2px solid; */
  justify-content: space-around;
}
.reference {
  margin-top: 50px;
  /* background-color: lightslategray;
  position: fixed;
  top: 0; */
  width: auto;
  /* border: 1px solid; */
}
#allquestions {
  margin-bottom: 60px;
}
.reference > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-bottom: 2px solid lightblue;

  margin: 10px;
  color: lightblue;
  font-size: large;
}
.qno {
  color: lightgray;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: large; */
  font-size: larger;
  /* justify-self: flex-start; */
}
.optscore {
  opacity: 0;
  font-size: 20px;
  width: 50px;
  height: 50px;
  /* border-radius: 50%; */
  /* border-bottom: 1px solid lightgray; */
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: x-small; */
}
.optscore.correctscore {
  opacity: 1;
  /* border-bottom: 2px solid lightgreen; */
  /* add correct symbol */
  color: #31d7c1;
}
.optscore.empty {
  opacity: 1;
  /* border-bottom: 2px solid lightcoral; */
  color: rgba(211, 211, 211, 0.16);
}
.optscore.wrongscore {
  opacity: 1;
  /* border-bottom: 2px solid lightcoral; */
  color: lightcoral;
}
.opt {
  display: flex;
  /* border: 1px solid; */
}
.opt > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid lightgray;
  border-radius: 5px;
  margin: 10px;
  transition: all ease 0.2s;
  color: rgba(211, 211, 211, 0.4);
  cursor: pointer;
}
.opt > div.click {
  background-color: lightskyblue;
  color: lightgray;
}
.opt > div.correct {
  background-color: lightseagreen;
  color: white;
}
.opt > div.wrong {
  background-color: lightcoral;
  /* background-color: rgba(240, 128, 128, 0); */

  color: white;
  /* animation: wrong 1s ease-in-out infinite; */
  /* border-radius: 50%; */
  /* transform: scale(1.2); */
}
.opt > div.click.correct::before {
  /* border: 2px solid lightseagreen; */
  border: 2px solid #31d7c1;
}

.opt > div.click.wrong::before {
  border: 2px solid lightcoral;
}
/* @keyframes wrong {
  100% {
    background-color: lightcoral;
  }
} */
.opt > div::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  z-index: -1;
  width: 55px;
  height: 55px;
  border: 2px solid lightslategray;
}
/* .opt > div:hover {
} */
.navigation {
  z-index: 11;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100vw;
  height: 50px;
  background-color: whitesmoke;
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
}
.navigation > div {
  margin: 10px;
  /* border: 1px solid red; */
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease;
}
.navigation > div:hover > svg {
  transform: scale(1.7);
}
.submit {
  cursor: pointer;
}

.scoreboard {
  z-index: 10;
  position: fixed;
  /* margin-top: 50%; */
  top: 0;
  width: 260px;
  height: 300px;
  background-color: whitesmoke;
  color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-400px);
  /* transform: scaleY(0.3); */
  opacity: 0;
  /* transform-origin: top; */
  border-radius: 10px;
  transition: all 0.5s ease-out;
  /* transform: scale(0); */
  /* transform: scale(1); */

  /* display: none; */
}
.scoreboard.menuopen {
  transform: translateY(60px);
  /* transform: scaleY(1); */
  opacity: 1;
}
.scoreboard div {
  width: 80%;
  height: 50px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  /* background-color: red; */
  margin: 5px;
  border-bottom: 2px solid lightblue;
}
.scoreboard > div {
  border-bottom: 2px solid #7788994b;
}
.scoreboard > div:nth-child(6) {
  border-bottom: none;
}
.scoreboard > div:nth-child(7) {
  border-bottom: none;
}
.scoreboard div h4:first-child {
  width: 70%;
}
.scoreboard div h4:last-child {
  width: 20%;
}
.scoreboard div:last-child {
  border-bottom: none;
}
.inputTime {
  position: fixed;
  top: 300px;
  width: 100%;
  height: fit-content;
  /* border: 1px solid red; */
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.4s ease-out;
  /* transform: translateY(20px); */
}
.inputTime > input {
  border: none;
  /* border-bottom: 1px solid #878686; */
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  color: lightslategray;
}
.inputTime #timeSubmit {
  /* display: block; */
  width: 55px;
  height: 90%;
  background-color: transparent;
  border: none;
  font-size: 35px;
  margin-right: 10px;
  color: lightseagreen;
  transition: all 0.4s ease-out;

  /* transform: rotate(90deg); */
}
.inputTime #timeSubmit:hover {
  transform: translateX(8px);
}
.inputTime > input:focus {
  outline: none;
}
.menu > svg {
  /* color: lightgray; */
  /* border: 1px solid white; */
  transform: scale(1.6);
  fill: lightslategray;
  /* position: fixed; */
  /* left: 0;
  top: 100px; */
}
.submit > svg {
  transform: scale(1.6);
  fill: lightcoral;
}
.navigation .timer {
  font-size: x-large;
  cursor: none;
  color: lightslategray;
  /* color: darkslategray; */
  /* color: red; */
  /* position: fixed; */
}
.start svg {
  fill: lightseagreen;
  transform: scale(1.6);

  /* position: fixed; */
}
.disable {
  /* z-index: 22; */

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: transparent;
}
.disable.on {
  display: block;
}
.toTop {
  position: fixed;
  display: flex;
  bottom: 40px;
  right: 20px;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: lightgray;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.toTop:hover {
  transform: scale(1.1);
}
